<!DOCTYPE html>
 <html>
    <head></head>
    <body>
    {% for image in images %}

        <img class="ck-images" alt= "{{ asset('media/cache/web_medium/uploads/article_images/'~image,'cdn') }}" src="{{ asset(('media/cache/my_thumb/uploads/article_images/'~image))}}">


    {% endfor %}

    </body>
    <footer>
        {% block javascripts %}
            <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
            <script>window.jQuery || document.write('<script src="{{ asset('bundles/johnsavant/js/jquery-2.1.1.min') }}"><\/script>')</script>

        {% endblock %}
        <script>
            $(document).ready(function(){
                $('.ck-images').on('click',function(){

                    window.opener.CKEDITOR.tools.callFunction({{callback}}, $(this).attr("alt"));
                    window.close();
                });
            });
        </script>
    </footer>
 </html>


