#forms_div
{
    /*width:70%;

    margin:10px auto;
    background-color: yellow;
    overflow: auto;*/
    padding:10px;
}

#login_div
{

    float:left;
    width:48%;
    padding:1%;
    height:auto;
    overflow:auto;


}

#register_div
{
    float:right;
    width:48%;
    padding:1%;

}

#login_form label, #register_form label
{
   display: block;
    float:left;
   width:100px;
    margin-left:-100px;
}

#login_form input,#register_form input
{
  margin:2px 0;
    width:80%;
  max-width:148px;

}

#login_form > div,#register_form > div{
    padding-left:100px;
}

#captcha-img
{
   width:70%;
}
#captcha-div
{
    width:80%;
    max-width:156px;
}
#refresh-btn
{
    width:21%;

}
#refresh-img
{
    width:100%;
}

#login_form , #register_form
{

    width:auto;
    max-width: 400px;
    margin:0 auto;
    padding: 5px;
    background-color: #F4F5F5;
    color: #495B95;
    background: -moz-linear-gradient(top,white 0%, #F4F5F5 100%);
    background: -webkit-linear-gradient(top, white 0%, #F4F5F5 100%);
    background: -ms-linear-gradient(top, white 0%, #F4F5F5 100%);
    border:1px dotted  #b2e1ff;
    border-radius:10px;
}

#login_form button[type="submit"],#register_form button[type="submit"]
{
    border:0;
    color: #DAF9FF;
    width:60px;
    height:30px;
    background: #b2e1ff; /* Old browsers */
    background: -moz-linear-gradient(top, #b2e1ff 0%, #66b6fc 100%);
    background: -webkit-linear-gradient(top, #b2e1ff 0%, #66b6fc 100%);
    background: -ms-linear-gradient(top, #b2e1ff 0%, #66b6fc 100%);

}

#facebook-login
{
    width:150px;
    height:40px;
    margin:35px auto;
}

#facebook-login button
{
    border:0;
    width:100%;
    height:100%;
    background-color:#4e7dc2;
    color:#dfe3ee;
    font-weight: bold;
}

a#refresh-btn
{
   display: inline-block;
   text-decoration: none;
   height:auto;
   overflow: auto;
}

/***Errors*****/
#login_form div ul,#register_form div ul{
    list-style-type: none;
    color:red;
    margin:0;
    padding:0;
}