<ul class="links">
    <li><a href="{{ path('john_users_profile_edit',{'id':app.user.id}) }}" >Edit Profile</a></li>
    <li><a href="{{ path('john_users_profile_change_password') }}">Change Password</a></li>
    <li><a href="">My Favorites</a></li>
    <li><a href="">My Activity</a></li>
</ul>