.article-form > div
{
    margin: 20px 0;
}
.article-form label
{
    display: inline-block;
    width:100px;
    text-align: left;


}

.tags
{
    margin:0;
    padding:0;
    list-style-type: none;

}

.articles-filter
{
    padding:15px;
}
.articles-filter a{
    text-decoration: none;
    display:inline-block;
}
.articles-filter form
{
    display: inline-block;
    float:left;
    border:1px dotted #b2e1ff;
    width:100%;
}
.articles-filter form div{
    float:left;
    margin:5px;
}
.truncate-content
{
    min-height: 100px;
}
article .truncate-content, article footer
{
    padding:10px;
}
article
{
    padding:10px;

}
article h2
{
    margin:5px;
    background: #F2F2F2;


}

article h2 a
{
    text-decoration: none;
    color:#0B2161;
    padding:10px;

}

article figure
{
   float:left;
    margin:6px;
    padding:4px;
    border: 1px dotted #dcdcdc;
}

article footer
{
    border:1px dotted lightgrey;

}

article footer span{
    display: inline-block;
    float:left;
}

div.article-admin-panel
{
    padding:5px;
    border:1px solid lightgrey;
}
div.article-admin-panel form{
    display: inline-block;
    float:left;
}

a.edit-article
{
    display: inline-block;
    padding: 2px;
    height:17px;
    line-height: 17px;
    text-decoration: none;
    background-color: orangered;
    color:white;
}

div.paginator
{
    text-align:center;
    width:100%;
}

div.paginator a{
    text-decoration: none;
    padding:2px;
}
#current-page
{
    color:red;
    font-weight: bold;
}

ul.article_error
{
    margin:0;
    padding:0;
    position:relative;
    left:100px;


}
ul.article_error li{
    color:red;
    list-style-type: none;
}
.flash-notice{
    background-color: #66dd66;
    color: green;
    padding:5px;
    margin:2px;
    border:1px solid forestgreen;
}