<h1 style="color:darkblue;margin-bottom:0">SavantCafe</h1>
<h5 style="color:grey;margin-top:0">Climb your life ladder</h5>

<p>Dear {{author}},<p>

<p style="margin-top:15px">We are pleased to inform  that your article
<h2 style="color:cornflowerblue; margin:0">
    <a href="http://www.savantcafe.com/{{ article.slug }}">{{ article.title }}</a>
</h2> has been aproved for publishing on SavantCafe<p>
<br/>
<p>Thank you for your contribution!</p>

<br/>
SavantCafe Team.