.admin_left_panel, .profile_left_panel
{
    max-width:200px;
    width:13%;
    float:left;


    padding:2px;
    margin:1px;

}
#links_nav ul
{
    margin:0;
    padding:0;
    list-style-type: none;

}
#links_nav ul li
{
    border-bottom: 1px dotted white;
    display: block;


    high:25px;

    /*background-color: #808080;
     color:#ffffff;*/
    background: #e4f1f9; /* Old browsers */
    background: -moz-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f1f9), color-stop(100%,#d5e7f3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* IE10+ */
    background: linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f1f9', endColorstr='#d5e7f3',GradientType=0 ); /* IE6-9 */
}
#links_nav ul li a
{
    color:black;
    line-height:25px;
    font-size:0.9em;
    text-decoration: none;

}

#links_nav span{
    background-color: #b2e1ff;
}

#links_nav ul li a:hover
{
    border-bottom: 1px solid #000000;
}

.content{
    margin:1px;
    width:85%;
    max-width:902px;

    height:auto;
    float:left;


}

.genericon{
    margin:3px 2px 0 0;

}