<nav id="links_nav">
    <ul class="links">
        <li><a href="{{ path('articles') }}">View/Edit Articles</a></li>
        <li><a href="{{ path('article_new') }}">Publish article</a></li>
        <li><a href="">Users</a></li>
        <li><a href=""> FAQ</a></li>
        <li><a href="">Video Courses</a></li>
    </ul>
</nav>
