<nav id="admin_nav">
    <ul>
        <li><a href="{{ path('articles') }}">Articles</a></li>
        <li><a href="">Users</a></li>
        <li><a href=""> FAQ</a></li>
        <li><a href="">Video Courses</a></li>
    </ul>
</nav>
