
    <ul class="links">
        <li><a href="{{ path('articles') }}"> <span class="genericon genericon-category"></span>View/Edit Articles</a></li>
        <li><a href="{{ path('article_new') }}"><span class="genericon genericon-path"></span>Publish article</a></li>
        <li><a href=""><span class="genericon genericon-user"></span>Users</a></li>
        <li><a href=""> <span class="genericon genericon-help"></span>FAQ</a></li>
        <li><a href=""><span class="genericon genericon-videocamera"></span>Video Courses</a></li>
    </ul>

