{% extends 'JohnArticleBundle::article_layout.html.twig' %}


{% block main %}
       <a href="{{app.request.headers.get('referer')  }}"> << Back</a>
       {{ include("JohnArticleBundle:Article:form.html.twig",{'form':edit_form}) }}


{% endblock %}

